<!DOCTYPE html>
<html lang="en" dir="ltr"> <!--dir=direction을 줄인거 ltr=left to right -->
<head>
  <meta charset="utf-8">
  <title>2020 Resume and Portfolio</title>
  <link rel="stylesheet" type="text/css" href ="./css_reset.css">
  <link rel="stylesheet" type="text/css" href="./practice.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="intro_page">
      <div class="intro_box"></div>
      <nav class="nav">
          <div class="menu">
              <ul class="menu_lists">
                <li class="list"><a href="#">ABOUT</a></li>
                <li class="list"><a href="#">TIMELINE</a></li>
                <li class="list"><a href="#">SKILLS</a></li>
                <li class="list"><a href="#">PORTFOLIO</a></li>
                <li class="list"><a href="#">CONTACT</a></li>
              </ul>
          </div>
          <div class="txt_2020"></div>
      </nav>
      <div class="circle">
          <span class="hi">안녕하세요!</span>
      </div>
      <div class="blank_space">
      </div>
  </div>

  <div class="about_me_page">
      <img class="about_me_svg" src="./svg/about_me.svg" alt="">
      <p class="about_me_txt">ABOUT ME</p>
      <img class="picture_svg" src="./svg/picture.svg" alt="">
      <div class="introduction">
          <h1 class="head_introduction">UX / UI & WEB PUBLISHER</h1>
          <p align="center" class="introduction_detail">안녕하세요. 웹퍼블리셔 및 UX/UI 디자이너 신승화입니다. 저는 대학교에서 시각디자인학과 전공, 의상학과를<br>
          부전공으로 졸업했습니다. 저는 대학생때부터 호기심이 많아서 UX/UI, 영상, 모션그래픽, 3D graphic, 패턴 메이킹 등<br>
          다양한 디자인 공부를 접했습니다. 졸업하고 첫 커리어로 의류브랜드에 들어가게 됐는데, 그곳에서 처음 워드프레셔를<br>
          접하고 직접 웹을 수정해볼 기회가 생겨서 웹에 대해 관심을 갖게 되었습니다. 저는 소모적이고 한시즌으로 끝나는<br>
          의류산업에 비해, 실용적이고 사용자 경험을 최우선적으로 고려하는 UX/UI 분야에 큰 관심을 갖게 되었고, UX/UI와<br>
          웹퍼블리싱 공부를 시작하게됐습니다. 저는 웹퍼블리싱에 대한 기초적인 이해도를 가지고 이를통해, 웹/앱을 디자인하는데<br>
          유리하고, 사용자의 입장에서 최소한의 클릭만으로 원하는 페이지로 넘어갈 수 있도록 유저플로우를 짜는데 초점을<br>
          맞춤으로서 최적화된 웹환경을 추구합니다. 웹은 트렌드의 변화가 상당히 빠르고 새로운 라이브러리와 프레임워크는<br>
          해를 거듭하며 업그레이드됩니다. 이러한 변화를 끊임없이 감지하고, 앞으로 내가 필요로 할 기술을 배우는데 서슴치 않는<br>
          디자이너가 되기위해 노력할 것입니다.</p>
      </div>
  </div>

  <div class="what_i_do">
    <h1 class="title_what_I_do">WHAT I DO</h1>
      <div class="do_list_center">
        <div class="i_do_lists">
            <div class="do_list list_1">
                <img class="do_svg" src="./svg/computer.svg" alt="">
                <h2>UX / UI</h2>
                <p class="do_list_descrip">sketch/zeplin 을 통해 userflow를 자유롭게 기획하고,
                퍼블리셔와 개발자의 이해도를 바탕으로 디자인합니다.
                무엇보다도 사용자가 최소한의 클릭으로 원하는 페이지로
                넘어갈 수 있도록 사용자 경험을 최우선으로 고려합니다.</p>
            </div>
            <div class="do_list list_2">
                <img class="do_svg" src="./svg/web.svg" alt="">
                <h2>WEB PUBLISHER</h2>
                <p class="do_list_descrip">html, css, vanilla js에 대한 기본적인 이해도를 가지고
                직접 원하는 디자인을 실현할 수 있습니다. 빠르게 변하는
                웹환경 트렌드를 늘 주도 면밀히 확인하고 그에 맞는 웹
                퍼블리싱을 합니다.</p>
            </div>
            <div class="do_list list_3">
                <img class="do_svg" src="./svg/motion_graphic.svg" alt="">
                <h2>MOTION GRAPHIC</h2>
                <p class="do_list_descrip">대학생 때부터 여러 모션그래픽 공모전에 참여해, 수상함
                으로서 프리미어와 에프터이펙트 인터페이스에 익숙하고
                다녔던 회사에서 외주에 맞겨야 할 영상 작업들도 직접
                맡아서 프로젝트를 진행한 경험이 있습니다.</p>
            </div>
        </div>
      </div>
  </div>

  <div class="my_timeline">
      <img class="timeline_svg" src="./svg/timeline.svg">
      <h1 class="tl_head_title">MY TIMELINE</h1>
      <div class="tl_horizontal_line"></div>
      <div class="tl_list tl_list_work">
          <div class="history-tl-container">
            <div class="tl_list_svg_title">
                <img class="tl_list_svg" src="./svg/preference.svg">
                <h2 class="tl_svg_title">WORK</h2>
            </div>
            <ul class="tl">
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Present ~<br>  May 2019
                </div>
                <div class="item-title">(Ltd.) JEIL DESIGN</div>
                <div class="item-detail">웹페이지 제작, 상세페이지 제작, 상품기획</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Apr 2019 ~<br>  Nov 2017
                </div>
                <div class="item-title">TRUNKPROJECT</div>
                <div class="item-detail">UX/UI, 웹페이지 수정 및 SNS 영상 제작</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Sep 2016 ~<br>  Dov 2015
                </div>
                <div class="item-title">story J</div>
                <div class="item-detail">1)영화 코덱과 확장자 변경 및 심의등급 편집 업로드</div>
                <div class="item-detail">2)트레일러 영상 제작 및 편집</div>
              </li>
            </ul>
          </div>
      </div>
      <div class="tl_list tl_list_education">
          <div class="history-tl-container">
            <div class="tl_list_svg_title">
                <img class="tl_list_svg" src="./svg/education.svg">
                <h2 class="tl_svg_title">EDUCATION</h2>
            </div>
            <ul class="tl">
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Feb 2017
                </div>
                <div class="item-title">가천대학교 졸업</div>
                <div class="item-detail"></div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Feb 2017 ~<br>Mar 2011
                </div>
                <div class="item-title">가천대학교 학사 졸업</div>
                <div class="item-detail">시각디자인학과 11학번</div>
                <div class="item-detail">3,4학년때 의상학과 12학점 이수</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Feb 2010 ~<br>  Feb 2008
                </div>
                <div class="item-title">휘문고등학교 재학</div>
                <div class="item-detail"></div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Feb 2008 ~<br>  Sep 2004
                </div>
                <div class="item-title">중국 상해거주<br>(상해 국제학교 재학)</div>
                <div class="item-detail"></div>
              </li>
            </ul>
          </div>
      </div>
      <div class="tl_list tl_achievements">
          <div class="history-tl-container">
            <div class="tl_list_svg_title">
                <img class="tl_list_svg" src="./svg/achievement.svg">
                <h2 class="tl_svg_title">ACHIEVEMENTS</h2>
            </div>
            <ul class="tl">
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Feb 2016
                </div>
                <div class="item-title">롯데</div>
                <div class="item-detail">마케팅 아이디어 공모전 파이널리스트</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Dec 2015
                </div>
                <div class="item-title">가천대학교</div>
                <div class="item-detail">2015년도 경시대회(디자인부문) 장학생</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Dec 2015
                </div>
                <div class="item-title">대한적십자사</div>
                <div class="item-detail">제5회 착한광고공모전 수상</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  Nov 2015
                </div>
                <div class="item-title">한국지역난방공사</div>
                <div class="item-detail">디지털영상애니메이션 공모전 장려상</div>
              </li>
            </ul>
          </div>
      </div>
  </div>

  <div class="skills">
      <div class="skills_horizontal_line"></div>
      <div class="skills_title">
          <img class="skills_svg" src="./svg/skills.svg" alt="">
          <h1 class="skills_head">SKILLS</h1>
      </div>
      <p align="center" class="skills_detail">저는 UX/UI 디자이너로서, 가장 각광받고 있는 sketch/zeplin 툴을 쓸 줄<br>
        알고, 웹퍼블리싱을 위한 기초적인 html, css, javascript 수정이 가능합니다.<br>
        또한 저는 디자인학과를 전공하여 기본적으로 포토샵, 일러스트 그리고 여러<br>
        영상 공모전에 참가하면서 익힌 모션 영상 그래픽 툴인 프리미어와 에프터이펙트<br>
        툴에도 능숙합니다.
      </p>
      <div class="skill_grid">
          <div class="grid-container">
            <div class="grid-item item1">
              <div class="box box1">
                  <h1>html</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>80%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item2">
              <div class="box box2">
                  <h1>css</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>50%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item3">
              <div class="box box3">
                  <h1>javascript</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>30%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item4">
              <div class="box box4">
                  <h1>sketch/zeplin</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>70%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item5">
              <div class="box box5">
                  <h1>adobe photoshop</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>80%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item6">
              <div class="box box6">
                  <h1>adobe illustrator</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>90%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item7">
              <div class="box box7">
                  <h1>adobe premiere</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>70%</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="grid-item item8">
              <div class="box box8">
                  <h1>adobe after effect</h1>
                  <div class="percent">
                      <svg><circle><circle></svg>
                      <div class="number">
                          <h2>70%</h2>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="portfolio_title">
    <div class="pf_title_head">
        <img class="head_item" src="./svg/portfolio.svg" alt="">
        <h1 class="head_item">Portfolio<br>& Project</h1>
    </div>
  </div>

  <div class="web_pb">
      <div class="web_pb_title">
          <h1>WEB PUBLISHING</h1>
      </div>
      <div class="page_url">
          <div class="url_item item1">
              <img src="./web_pb_image/beyoursanta.png" alt="">
          </div>
          <div class="url_item item2">

          </div>
          <div class="url_item item3">3</div>
          <div class="url_item item4">
              <img src="./web_pb_image/trunkproject.png" alt="">
          </div>
          <div class="url_item item5">
              <img src="./web_pb_image/deoceans.png" alt="">
          </div>
          <div class="url_item item6">6</div>
      </div>

  </div>


  <script type="text/javascript" src="./practice.js"></script>
</body>

</html>
